.btn-plus{
    margin-top: 5px;
    margin-left: 50%;
}
#lista-de-edificios{
    margin-left: 45%;
}
#lista-de-aulas{
    margin-left: 45%;
}
#agregar-edificio{
    margin-left: 47%;
}

#agregar-aula{
    margin-left: 47.2%;
}